In [7]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import mglearn

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline

from IPython.display import display

%matplotlib inline

In [8]:
original = pd.read_csv('train.csv', index_col='PassengerId')
original

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [9]:
data = original.copy()

def transform_data(data):
    data['Title'] = data.Name.str.extract('([A-Za-z]+)\.', expand=False)
    data.loc[data.Title == 'Mlle', 'Title'] = 'Miss'
    data.loc[data.Title == 'Mme', 'Title']  = 'Mrs'
    data.loc[data.Title == 'Ms', 'Title']   = 'Miss'

    rare_titles = ['Dr', 'Rev', 'Col', 'Major', 'Countess', 'Don', 'Jonkheer', 'Capt', 'Lady', 'Sir']
    data.Title = data.Title.replace(rare_titles, 'Rare')

    age_by_title = data.groupby('Title').Age.mean()

    data.loc[data.Age.isnull() & (data.Title == 'Mr'), 'Age'] = age_by_title['Mr']
    data.loc[data.Age.isnull() & (data.Title == 'Mrs'), 'Age'] = age_by_title['Mrs']
    data.loc[data.Age.isnull() & (data.Title == 'Miss'), 'Age'] = age_by_title['Miss']
    data.loc[data.Age.isnull() & (data.Title == 'Master'), 'Age'] = age_by_title['Master']
    data.loc[data.Age.isnull() & (data.Title == 'Rare'), 'Age'] = age_by_title['Rare']

    data.Embarked = data.Embarked.fillna('S')

    data = data.drop('Cabin', axis=1)

    data['FamilySize'] = data.Parch + data.SibSp + 1
    data = data.drop(['Parch', 'SibSp'], axis=1)

    # Additional transformation:
    data['IsMale']    = (data.Sex == 'male').astype(float)
    data['IsMr']      = (data.Title == 'Mr').astype(float)
    data['IsMrs']     = (data.Title == 'Mrs').astype(float)
    data['IsMiss']    = (data.Title == 'Miss').astype(float)
    data['IsMaster']  = (data.Title == 'Master').astype(float)
    data['IsRare']    = (data.Title == 'Rare').astype(float)
    data['EmbarkedC'] = (data.Embarked == 'C').astype(float)
    data['EmbarkedQ'] = (data.Embarked == 'Q').astype(float)
    data['EmbarkedS'] = (data.Embarked == 'S').astype(float)

    data = data.drop(['Sex', 'Embarked', 'Title'], axis=1)
    data = data.drop(['Name', 'Ticket'], axis=1)

    data['Fare'] = pd.qcut(data['Fare'],4,labels=[0,1,2,3])

    data['Class1'] = (data.Pclass == 1).astype(float)
    data['Class2'] = (data.Pclass == 2).astype(float)
    data['Class3'] = (data.Pclass == 3).astype(float)
    data = data.drop('Pclass', axis=1)

    data['IsChild'] = (data.Age < 18).astype(float)
    data['IsAdult'] = (18 <= data.Age).astype(float)

    # data = data.drop('Age', axis=1)
    data['Age'] = pd.qcut(data['Age'], 4, labels=[0,1,2,3])

    data['IsAlone']       = (data.FamilySize == 1).astype(float)
    data['IsSmallFamily'] = ((2 <= data.FamilySize) & (data.FamilySize < 5)).astype(float)
    data['IsLargeFamily'] = (5 <= data.FamilySize).astype(float)

    data = data.drop('FamilySize', axis=1)

    return data

data = transform_data(data)

In [10]:
X = data.drop('Survived', axis=1)
y = data['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, stratify=y)

In [11]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression().fit(X_train, y_train)
print("train score:", model.score(X_train, y_train))
print("test score: ", model.score(X_test, y_test))

pipeline = Pipeline([
    ('regression', LogisticRegression())
])

grid = {
    'regression__C': [0.001, 0.01, 1, 10, 100]
}

search = GridSearchCV(pipeline, param_grid=grid, cv=5)
search.fit(X_train, y_train)
search.best_params_

train score: 0.836826347305
test score:  0.816143497758

{'regression__C': 1}

In [12]:
from sklearn.ensemble import RandomForestClassifier

best_RandomForest = RandomForestClassifier(random_state=0,
                               n_jobs=8,
                               n_estimators=10, 
                               max_features='sqrt', 
                               min_samples_split=20)
model = best_RandomForest.fit(X_train, y_train)
print("train score:", model.score(X_train, y_train))
print("test score: ", model.score(X_test, y_test))

train score: 0.853293413174
test score:  0.834080717489

In [13]:
pipeline = Pipeline([
    ('regression', RandomForestClassifier(random_state=0, n_jobs=8))
])

grid = {
    'regression__n_estimators': [10, 100, 1000, 2000, 3000],
    'regression__max_features': ['sqrt'],#, 'log2', 0.2, 0.4, 0.6, 0.8],
    'regression__min_samples_split': [20],
}

# timing
import time
start_time = time.time()
#

search = GridSearchCV(pipeline, param_grid=grid, cv=5)
search.fit(X_train, y_train)
print(search.best_params_)
pd.DataFrame(search.cv_results_)

# timing
print("--- %s seconds ---" % (time.time() - start_time))
#

pd.DataFrame(search.cv_results_)

{'regression__min_samples_split': 20, 'regression__n_estimators': 10, 'regression__max_features': 'sqrt'}
--- 51.690481185913086 seconds ---

,mean_fit_time,mean_score_time,mean_test_score,mean_train_score,param_regression__max_features,param_regression__min_samples_split,param_regression__n_estimators,params,rank_test_score,split0_test_score,...,split2_test_score,split2_train_score,split3_test_score,split3_train_score,split4_test_score,split4_train_score,std_fit_time,std_score_time,std_test_score,std_train_score
0,0.110185,0.102780,0.835329,0.857775,sqrt,20,10,"{'regression__min_samples_split': 20, 'regress...",1,0.859259,...,0.827068,0.857944,0.819549,0.865421,0.819549,0.863551,0.002179,0.000277,0.016618,0.006794
1,0.166689,0.103134,0.832335,0.860777,sqrt,20,100,"{'regression__min_samples_split': 20, 'regress...",4,0.851852,...,0.819549,0.859813,0.834586,0.861682,0.819549,0.859813,0.006212,0.000763,0.012063,0.003726
2,1.291487,0.203593,0.832335,0.861148,sqrt,20,1000,"{'regression__min_samples_split': 20, 'regress...",4,0.866667,...,0.819549,0.859813,0.819549,0.867290,0.819549,0.859813,0.007331,0.000466,0.018393,0.005722
3,2.458392,0.303967,0.833832,0.859651,sqrt,20,2000,"{'regression__min_samples_split': 20, 'regress...",2,0.866667,...,0.819549,0.856075,0.827068,0.865421,0.819549,0.861682,0.006244,0.000443,0.017579,0.005008
4,3.637843,0.505291,0.833832,0.859651,sqrt,20,3000,"{'regression__min_samples_split': 20, 'regress...",2,0.866667,...,0.819549,0.856075,0.827068,0.865421,0.819549,0.861682,0.004168,0.000455,0.017579,0.005008

In [14]:
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.svm import LinearSVC

pipeline = Pipeline([
    ('scale', StandardScaler()),
    ('svm', SVC(probability=True)),
])

model = pipeline.fit(X_train, y_train)
print("train score:", model.score(X_train, y_train))
print("test score: ", model.score(X_test, y_test))

train score: 0.844311377246
test score:  0.820627802691

In [15]:
# train on all the data
# model = pipeline.fit(X, y) #0.80382
model = best_RandomForest.fit(X, y) #0.80861 (grid-search-best) - 0.79904 (random-split-overfit)

In [16]:
test = pd.read_csv('test.csv', index_col=['PassengerId'])
test.loc[test['Fare'].isnull(), 'Fare'] = test['Fare'].mean()
test = transform_data(test)

test.isnull().sum().sort_values()

predictions = model.predict(test)
frame = pd.DataFrame({
    'PassengerId': pd.read_csv('test.csv').PassengerId,
    'Survived': predictions
})
frame = frame.set_index('PassengerId')
frame.to_csv('predictions.csv')
frame

             Survived
PassengerId
892                 0
893                 0
894                 0
895                 0
896                 1
897                 0
898                 1
899                 0
900                 1
901                 0
902                 0
903                 0
904                 1
905                 0
906                 1
907                 1
908                 0
909                 0
910                 0
911                 1
912                 0
913                 1
914                 1
915                 0
916                 1
917                 0
918                 1
919                 0
920                 0
921                 0
...               ...
1280                0
1281                0
1282                0
1283                1
1284                1
1285                0
1286                0
1287                1
1288                0
1289                1
1290                0
1291                0
1292                1
1293                0
1294                1
1295                0
1296                0
1297                0
1298                0
1299                0
1300                1
1301                1
1302                1
1303                1
1304                1
1305                0
1306                1
1307                0
1308                0
1309                1

[418 rows x 1 columns]

In [17]:
wrong_predictions = (model.predict(X_test) != y_test) & (y_test == 1)
wrong_predictions_index = y_test.index[wrong_predictions]
data = original.copy()
wrongly_predicted = data.loc[data.index.intersection(wrong_predictions_index)]
wrongly_predicted['Predicted'] = model.predict(X_test)[wrong_predictions]
wrongly_predicted

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Predicted
PassengerId,,,,,,,,,,,,
24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,0
37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C,0
128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.0,0,0,C 17369,7.1417,NaN,S,0
208,1,3,"Albimona, Mr. Nassef Cassem",male,26.0,0,0,2699,18.7875,NaN,C,0
210,1,1,"Blank, Mr. Henry",male,40.0,0,0,112277,31.0000,A31,C,0
225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.0,1,0,19943,90.0000,C93,S,0
234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.0,4,2,347077,31.3875,NaN,S,0
268,1,3,"Persson, Mr. Ernst Ulrik",male,25.0,1,0,347083,7.7750,NaN,S,0
284,1,3,"Dorking, Mr. Edward Arthur",male,19.0,0,0,A/5. 10482,8.0500,NaN,S,0
289,1,2,"Hosono, Mr. Masabumi",male,42.0,0,0,237798,13.0000,NaN,S,0
302,1,3,"McCoy, Mr. Bernard",male,NaN,2,0,367226,23.2500,NaN,Q,0
391,1,1,"Carter, Mr. William Ernest",male,36.0,1,2,113760,120.0000,B96 B98,S,0
392,1,3,"Jansson, Mr. Carl Olof",male,21.0,0,0,350034,7.7958,NaN,S,0
401,1,3,"Niskanen, Mr. Juha",male,39.0,0,0,STON/O 2. 3101289,7.9250,NaN,S,0
430,1,3,"Pickard, Mr. Berk (Berk Trembisky)",male,32.0,0,0,SOTON/O.Q. 392078,8.0500,E10,S,0
450,1,1,"Peuchen, Major. Arthur Godfrey",male,52.0,0,0,113786,30.5000,C104,S,0
484,1,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S,0
511,1,3,"Daly, Mr. Eugene Patrick",male,29.0,0,0,382651,7.7500,NaN,Q,0
513,1,1,"McGough, Mr. James Robert",male,36.0,0,0,PC 17473,26.2875,E25,S,0
544,1,2,"Beane, Mr. Edward",male,32.0,1,0,2908,26.0000,NaN,S,0
570,1,3,"Jonsson, Mr. Carl",male,32.0,0,0,350417,7.8542,NaN,S,0
573,1,1,"Flynn, Mr. John Irwin (""Irving"")",male,36.0,0,0,PC 17474,26.3875,E25,S,0
605,1,1,"Homer, Mr. Harry (""Mr E Haven"")",male,35.0,0,0,111426,26.5500,NaN,C,0
648,1,1,"Simonius-Blumer, Col. Oberst Alfons",male,56.0,0,0,13213,35.5000,A26,C,0
822,1,3,"Lulic, Mr. Nikola",male,27.0,0,0,315098,8.6625,NaN,S,0

In [18]:
wrong_predictions = (model.predict(X_test) != y_test) & (y_test == 0)
wrong_predictions_index = y_test.index[wrong_predictions]
data = original.copy()
wrongly_predicted = data.loc[data.index.intersection(wrong_predictions_index)]
wrongly_predicted['Predicted'] = model.predict(X_test)[wrong_predictions]
wrongly_predicted

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Predicted
PassengerId,,,,,,,,,,,,
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,1
115,0,3,"Attalah, Miss. Malake",female,17.0,0,0,2627,14.4583,NaN,C,1
200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.0,0,0,248747,13.0000,NaN,S,1
420,0,3,"Van Impe, Miss. Catharina",female,10.0,0,2,345773,24.1500,NaN,S,1
499,0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1,2,113781,151.5500,C22 C26,S,1
594,0,3,"Bourke, Miss. Mary",female,NaN,0,2,364848,7.7500,NaN,Q,1
655,0,3,"Hegarty, Miss. Hanora ""Nora""",female,18.0,0,0,365226,6.7500,NaN,Q,1

In [19]:
model.predict_proba(X_test)[(model.predict(X_test) != y_test) & (y_test == 1)]

array([[ 0.81383838,  0.18616162],
       [ 0.81753681,  0.18246319],
       [ 0.95168692,  0.04831308],
       [ 0.8916666 ,  0.1083334 ],
       [ 0.61370075,  0.38629925],
       [ 0.52603844,  0.47396156],
       [ 0.84664501,  0.15335499],
       [ 0.56626783,  0.43373217],
       [ 0.59002699,  0.40997301],
       [ 0.85944914,  0.14055086],
       [ 0.78552868,  0.21447132],
       [ 0.65127411,  0.34872589],
       [ 0.91318903,  0.08681097],
       [ 0.90930309,  0.09069691],
       [ 0.92841261,  0.07158739],
       [ 0.84185277,  0.15814723],
       [ 0.65772689,  0.34227311],
       [ 0.78410566,  0.21589434],
       [ 0.97174242,  0.02825758],
       [ 0.61370075,  0.38629925],
       [ 0.92991174,  0.07008826],
       [ 0.84266261,  0.15733739],
       [ 0.65127411,  0.34872589],
       [ 0.60622461,  0.39377539],
       [ 0.76955051,  0.23044949]])